.navbar {
  @include border-radius(0);
}

.navbar-brand img {
  max-height: 20px
}

.navbar-user {
  padding-left: 50px;
  position: relative;
  border-right: 1px solid lighten(white, 0.5);

  a {
    cursor: default;
  }
}

.navbar-user-image {
  @include border-radius(50%);
  height: 30px;
  position: absolute;
  left: -35px;
  top: 10px;
}