<div class="home">
  <div class="text-center">
    <h1 class="home-title">Welcome to the jungle!</h1>
    <h2 class="home-subtitle">Trellando is a new application to help us to have fun using trello boards for developers.</h2>
    <%= link_to "Sign in with Trello", user_omniauth_authorize_path(:trello) %>
  </div>
</div>
