<%= content_for(:heading) do %>
  <div class="home text-center">
    <h1 class="home-title">Keep up the good work!</h1>
    <h2 class="home-subtitle">Trellando is an application that helps to analyze Trello boards in a fun way.</h2>
  </div>
<% end %>

<section>
  <div class="row">
    <div class="col-md-4 text-center">
      <%= fa_icon "columns", class: "fa-5x text-muted" %>
      <h2>Why Trellando?</h2>
      <p><strong><em>Trellando</em></strong> is a portuguese word, which means <strong><em>fun</em></strong> for kids. The team decided to use it to reflect the intent to create this application. We were trying to measure productivity in a fun way to keep our work more strategic.</p>
    </div>
    <div class="col-md-4 text-center">
      <%= fa_icon "info-circle", class: "fa-5x text-muted" %>
      <h2>How it works?</h2>
      <p>You'll need a <strong>Trello</strong> account to use this application. Your experience will be better if you use <strong><a href="http://scrumfortrello.com/" target"_blank">Scrum for Trello</a></strong> to estimate your cards. This way you'll be able to view average points per members, most productive members and a lot of cool stuff.</p>
    </div>
    <div class="col-md-4 text-center">
      <%= fa_icon "child", class: "fa-5x text-muted" %>
      <h2>Gamification</h2>
      <p>Our intent here was not to verify who's working more. It's just a fun way to retrieve metrics from Trello boards and display through badges the members who like to pick up the hardest tasks, the ones who like to pick up the quicker ones and who is assigned to more cards.</p>
    </div>
  </div>
</section>
