<%= content_for(:heading) do %>
  <div class="home text-center">
    <h1 class="home-title">Welcome to the jungle!</h1>
    <h2 class="home-subtitle">Trellando is a new application to help us to have fun using trello boards for developers.</h2>
  </div>
<% end %>

<section>
  <div class="row">
    <div class="col-md-4 text-center">
      <%= fa_icon "columns", class: "fa-5x text-muted" %>
      <h2>Why Trellando?</h2>
      <p><strong><em>Trellando</em></strong> is a brazilian word, which means <strong><em>fun</em></strong> for kids. The team decided to use this name to keep our work more strategic and funny.</p>
    </div>
    <div class="col-md-4 text-center">
      <%= fa_icon "info-circle", class: "fa-5x text-muted" %>
      <h2>How it works?</h2>
      <p>You'll need an <strong>Trello</strong> account to use our features. Some analytics needs some points on your cards. You can add easily using <strong>Scrum for Trello</strong></p>
    </div>
    <div class="col-md-4 text-center">
      <%= fa_icon "child", class: "fa-5x text-muted" %>
      <h2>Gamification</h2>
      <p><strong>Keep your work better!</strong> We are not an monitoring app. Just an funny way to keep our work easy and fast to analyze.</p>
    </div>
  </div>
</section>
