<%= content_for(:heading) do %>
  <div class="home text-center">
    <h1 class="home-title">Welcome to the jungle!</h1>
    <h2 class="home-subtitle">Trellando is a new application to help us to have fun using trello boards for developers.</h2>
  </div>
<% end %>

<section>
  <div class="row">
    <div class="col-md-4 text-center">
      <%= fa_icon "columns", class: "fa-5x text-muted" %>
      <h2>Why Trellando?</h2>
      <p><strong><em>Trellando</em></strong> is an brazilian word, which means <strong><em>fun</em></strong> for kids. The team decided to use this name to keep our work more strategic and funny.</p>
    </div>
    <div class="col-md-4 text-center">
      <%= fa_icon "thumbs-up", class: "fa-5x text-muted" %>
      <h2>Isn't an monitoring app</h2>
      <p><strong>Keep free!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit aspernatur sequi omnis, sint quis minima eaque eum libero vitae numquam quibusdam, iste quam, dolore fugiat saepe non.</p>
    </div>
    <div class="col-md-4 text-center">
      <%= fa_icon "child", class: "fa-5x text-muted" %>
      <h2>Gamification</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit aspernatur sequi omnis, sint quis minima eaque eum libero vitae numquam quibusdam, iste quam, dolore fugiat saepe non. Repellendus necessitatibus, quod?</p>
    </div>
  </div>
</section>
