.card {
  @extend .thumbnail;
  @extend .text-center;
  padding: 0 20px 20px 20px;
  background: #fff;
  min-height: 190px;
}

.card-title {
  font-weight: 700;
  color: $primary-color;
}

.card-photo {
  @include border-radius(50%);
}

.card-super {
  padding: 0;
}

.card-list {
  @extend .list-unstyled;
  @extend .text-left;
  @extend .text-muted;
  margin-top: 10px;

  li {
    border-top: 1px solid #ccc;
    padding: 5px 20px;
  }
}

.card-image {
  padding-top: 10px;
  width: 100%;
}