@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");

html, body {
  height: 100%
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: $body-bg image-url("dog-opacity.png") no-repeat bottom right;
}

h1 {
  font-size: 56px;
  font-weight: 700;
}

p {
  line-height: 28px;
}