.section-header {
  background: white;
  padding: 40px 0;
  margin-bottom: 40px;
  border-bottom: 4px solid #e6e6e6;

  h1,h2,h3,h4,h5,h6 {
    margin: 0
  }
}

.section-footer {
  background: white;
  padding: 20px 0 10px 0;
  border-top: 4px solid #e6e6e6;
  @include opacity(0.8);
}