// Colors
$body-bg: #F5F5F5;
$navbar-default-bg: #556A76;
$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: lighten(white, 0.5);
$navbar-default-link-active-color: white;

// Spaces Definitions
$space-xx-sm : 1px;
$space-x-sm  : 3px;
$space-sm    : 5px;
$space-md    : 10px;
$space-lg    : 20px;
$space-x-lg  : 40px;
$space-xx-lg : 60px;